<extend name="Index/common"/>
<block name="css">
    <link rel="stylesheet" href="__CSS__/index.css" type="text/css">
    <link rel="stylesheet" href="__CSS__/home.css" type="text/css">
    <link rel="stylesheet" href="__CSS__/address.css" type="text/css">
</block>
<block name="cate"></block>
<block name="center">

    <volist name="infos" id="order">
        <dl style="width:1200px; line-height:30px; text-align:center; margin:0 auto; border:1px dotted #666;">
            <dt style="width:1200px;background-color: #aaaaaa;line-height:40px;">订单号：{$order.sn}</dt>
            <dd style="width:1200px;">
                <table style="width:1200px; line-height:30px; text-align:center; margin:0 auto;  cellpadding:1px;">
                    <tr  >
                        <th width="15%" style="text-align:center;">商品快照</th>
                        <th width="25%" style="text-align:center;">商品名称</th>
                        <th width="10%" style="text-align:center;">商品数量</th>
                        <th width="10%" style="text-align:center;">商品总价</th>
                        <th width="20%" style="text-align:center;">支付状态</th>
                        <th width="20%" style="text-align:center;">操作</th>
                    </tr>
                    <volist name="order.list" id="info">
                        <tr>
                            <td><a href="{:U('Index/show',array('id'=>$info['goods_id']))}"><img src="{$info.logo}" style="width:40%;" alt="{$info.name}照片"/></a></td>
                            <td><a href="{:U('Index/show',array('id'=>$info['goods_id']))}">{$info.name}</a></td>
                            <td>{$info.num}</td>
                            <td>{$info.price}</td>
                            <eq name="i" value="1">
                                <td>
                                    <switch name="info.pay_status">
                                        <case value="0"><font color="red">未支付</font></case>
                                        <case value="1"><font color="green"> 已付款</font></case>
                                    </switch> |
                                    <switch name="info.shipping_status">
                                        <case value="0"><font color="red">未发货</font></case>
                                        <case value="1"><font color="green"> 配货中</font></case>
                                        <case value="2"><font color="green"> 已发货</font></case>
                                    </switch> |
                                    <switch name="info.order_status">
                                        <case value="0"><font color="red">未确认</font></case>
                                        <case value="1"><font color="green"> 已确认</font></case>
                                        <case value="2"><font color="red"> 退货中</font></case>
                                        <case value="3"><font color="green"> 已退货</font></case>
                                    </switch>
                                </td>
                                <td>
                                    <!--已发货-->
                                    <eq name="info.shipping_status" value="2">
                                        <switch name="info.order_status">
                                            <case value="0">
                                                <!--未收货-->
                                                <a href="javascript:;" onclick="affirm(1,{$info.order_id})"><font color="green"> 确认收货</font></a> |
                                                <a href="javascript:;" onclick="affirm(2,{$info.order_id})"><font color="green"> 去退货</font></a> |
                                                <switch name="info.comment_status">
                                                    <case value="0">  <a href="{:U('Comment/add',array('order_id'=>$info['order_id']))}"><font color="green">去评价</font></a></case>
                                                    <case value="1"> 已评价</case>
                                                </switch>
                                                <!---付款 {已收货|退货中|已退货}-->
                                                <if condition="($info.pay_status eq 1) AND ($info.order_status neq 0) AND ($info.order_status neq -1)">
                                                    |  <a href="javascript:;" onclick="deleteOrder({$info.order_id})"><font color="green">删除</font></a>
                                                </if>
                                            </case>
                                            <case value="1">
                                                <!--已收货-->
                                                已收货 |  <a href="javascript:;" onclick="affirm(2,{$info.order_id})"><font color="red">去退货</font></a> |
                                                <switch name="info.comment_status">
                                                    <case value="0">  <a href="{:U('Comment/add',array('order_id'=>$info['order_id']))}"><font color="red">去评价</font></a></case>
                                                    <case value="1"> 已评价</case>
                                                    <default/><a href="{:U('Comment/add',array('order_id'=>$info['order_id']))}"><font color="red">去评价</font></a>
                                                </switch>
                                                <if condition="($info.pay_status eq 1) AND ($info.order_status neq 0) AND ($info.order_status neq -1)">
                                                    |  <a href="javascript:;" onclick="deleteOrder({$info.order_id})"><font color="green">删除</font></a>
                                                </if>
                                            </case>
                                            <default/> -- | --
                                        </switch>
                                        <else/>
                                        -- | --
                                    </eq>
                                </td>
                            </eq>
                        </tr>
                    </volist>
                </table>
            </dd>
        </dl>
        <input type="hidden" name="order_id" value="{$info.order_id}"/>
    </volist>
</block>
<block name="article"></block>
<block name="js">
    <script type="text/javascript" src="__LAYER__"></script>
    <!--<script type="text/javascript" src="__JS__/common.js"></script>-->
    <script type="text/javascript">
        //改变收货状态
        function affirm(order_status,order_id){
             $.post("{:U('OrderInfo/affirm')}",{order_status:order_status,order_id:order_id},function(data){
                     layer.msg(data.info, {
                         icon: data.status ? 1 : 2,  //1是√，2是×
                         time: 1000 //1秒关闭（如果不配置，默认是3秒）
                     }, function () {
                         location.href = data.url; //提示框隐藏之后就刷新页面。
                     });
             });
        }

        //删除订单
        function deleteOrder(order_id)
        {
            $.post("{:U('OrderInfo/deleteOrder')}",{order_id:order_id},function(data){
                layer.msg(data.info, {
                    icon: data.status ? 1 : 2,  //1是√，2是×
                    time: 1000 //1秒关闭（如果不配置，默认是3秒）
                }, function () {
                    location.href = data.url; //提示框隐藏之后就刷新页面。
                });
            });
        }
    </script>
</block>
