<extend name="Index/common"/>
<block name="css">
    <link rel="stylesheet" href="__CSS__/index.css" type="text/css">
</block>
<block name="cate"></block>
<block name="article"></block>
<block name="center">
    <volist name="goods" id="good">
        <div style="margin-left:149px; width:1200px; border: 1px dashed #aaaaaa;height:430px;">
            <div style="float:left;width:610px;">
                <form action="" method="post" class="form-data">
                    <table class="comment">
                        <tr class="tr1">
                            <td>
                                星级：
                                <input type="radio" name="start" class="start" value="1" /> 好评
                                <input type="radio" name="start" class="start" value="2" /> 中评
                                <input type="radio" name="start" class="start" value="3" /> 差评
                                <p class="start_error" style="color: red;margin-top:2px;line-height:40px;"></p>
                            </td>
                        </tr>
                        <tr class="tr2">
                            <td>
                                <textarea name="content" class="content" id="content" cols="80" rows="20"></textarea>
                                <p class="content_error" style="color: red;margin-top:2px;line-height:40px;"></p>
                            </td>
                        </tr>
                        <tr class="tr3">

                            <td style="position:relative;">
                                <!--<input type="submit" value="提交评论"/>-->
                                <a href="javascript:;" class="add_comment" style="color:#ffffff;background-color:#D90505; width:100px;display:block;line-height:36px;position:absolute;left:226px;top:12px;">提交评论</a>
                                <input type="hidden" name="order_sn" id="order_sn" value="{$order_sn}">
                                <input type="hidden" name="goods_id" id="goods_id" value="{$good.goods_id}">
                            </td>

                        </tr>
                    </table>
                </form>
            </div>
            <div style="float:left;width:590px;position:relative;">
                <img src="http://admin.shop.com/Uploads/{$good.logo}" style="width:40%;position:absolute;top:85px;left:100px;"/>
            </div>
        </div>
    </volist>

</block>
<block name="css">
    <style type="text/css">
        .comment{
            width:610px;
            overflow: auto;
        }
        .comment tr{
            width:610px;
            text-align: center;;
        }
        .comment .tr1{

            height:50px;
            line-height: 50px;;
        }
        .comment .tr3{

            height:50px;
            line-height: 50px;;
        }
    </style>
</block>
<block name="js">
    <script type="text/javascript" src="__LAYER__"></script>
    <!--<script type="text/javascript" charset="utf-8" src="__UEDITOR__/ueditor.config.js"></script>-->
    <!--<script type="text/javascript" charset="utf-8" src="__UEDITOR__/ueditor.all.min.js"></script>-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文&ndash;&gt;-->
    <!--<script type="text/javascript" charset="utf-8" src="__UEDITOR__/lang/zh-cn/zh-cn.js"></script>-->
    <script type="text/javascript">
        $(function(){
            /*---------------------------加载百度编辑器----开始-----------*/
//            UE.getEditor('content');
            /*---------------------------加载百度编辑器----结束-----------*/

            /*----------------------------保存评论---------开始-------------*/
            $('.add_comment').click(function(){

                //找到当前表单里面的值，并提交
                var form=$(this).closest('form');
//                alert(form.html());

//                var start= $('input[name="start"]:checked').val();
//                var content= UE.getEditor('content').getContent();

                var start =form.find('input[name="start"]:checked').val();
                var content=form.find('#content').val();
                var order_sn=form.find('#order_sn').val();
                var goods_id=form.find('#goods_id').val();
                console.debug(content);
                console.debug(start);
                console.debug(order_sn);
                console.debug(goods_id);
                if(start==undefined){
                    form.find('.start_error').html('请选择等级');
                }else{
                    form.find('.start_error').html('');
                }
                if(content==null || content==''){
                    form.find('.content_error').html('请填写内容');
                }else{
                    form.find('.content_error').html('');
                }
//                var form_data=form.find('.form-data').serialize();
//                console.debug(form_data);
//                return;
                if(start && content){
                    $.post("{:U('Comment/add')}",{'order_sn':order_sn,'goods_id':goods_id,'content':content,'start':start},function(data){
                        if(data.status){
                            layer.msg(data.info, {
                                icon: data.status ? 1 : 2,  //1是√，2是×
                                time: 1000 //1秒关闭（如果不配置，默认是3秒）
                            }, function () {
                                location.href = data.url; //提示框隐藏之后就刷新页面。
                            });
                        }
                    });
                }
            });

            /*----------------------------保存评论---------结束-------------*/
        });
    </script>
</block>