<extend name="common"/>
<block name="css">
	<link rel="stylesheet" href="__CSS__/list.css" type="text/css">
	<link rel="stylesheet" href="__CSS__/common.css" type="text/css">
</block>
<block name="cate"></block>
<block name="search">
	<div class="search_form">
		<div class="form_left fl"></div>
		<form action="{:U('Index/lst',array('category_id'=>$category_id))}" name="serarch" method="post" class="fl">
			<input type="text" class="txt" name="keyword" value="请输入商品关键字"/><input type="submit" class="btn" value="搜索"/>
		</form>
		<div class="form_right fl"></div>
	</div>
	<div style="clear:both;"></div>
</block>
<block name="center">
	<!-- 列表主体 start -->
	<div class="list w1210 bc mt10">
		<!-- 面包屑导航 start -->
		<div class="breadcrumb">
			<h2>当前位置：
				<a href="http://www.shop.com">首页</a>&nbsp;>&nbsp;
				<volist name="mbx_goodsCategorys" id="mbx_goodsCategory">
					<a href="{:U('Index/lst',array('category_id'=>$mbx_goodsCategory['id']))}">{$mbx_goodsCategory.name}</a>&nbsp;>&nbsp;
				</volist>
			</h2>
		</div>
		<!-- 面包屑导航 end -->

		<!-- 列表内容 start -->
		<div class="list_bd fl ml10 mt10">
			<div style="clear:both;"></div>

			<!-- 商品筛选 start -->
			<!--<div class="filter mt10">-->
				<!--<h2><a href="">重置筛选条件</a> <strong>商品筛选</strong></h2>-->
				<!--<div class="filter_wrap">-->
					<!--&lt;!&ndash;<dl>&ndash;&gt;-->
						<!--&lt;!&ndash;<dt>品牌：</dt>&ndash;&gt;-->
						<!--&lt;!&ndash;<dd class="cur"><a href="">不限</a></dd>&ndash;&gt;-->
						<!--&lt;!&ndash;<dd><a href="">联想（ThinkPad）</a></dd>&ndash;&gt;-->
					<!--&lt;!&ndash;</dl>&ndash;&gt;-->
					<!--<dl>-->
						<!--<dt>功效：</dt>-->
						<!--<dd class="cur"><a href="">不限</a></dd>-->
						<!--<dd><a href="">保湿</a></dd>-->
						<!--<dd><a href="">补水</a></dd>-->
						<!--<dd><a href="">美白</a></dd>-->
						<!--<dd><a href="">紧致</a></dd>-->
						<!--<dd><a href="">抗老</a></dd>-->
						<!--<dd><a href="">清爽</a></dd>-->
						<!--<dd><a href="">滋润</a></dd>-->
					<!--</dl>-->

					<!--<dl>-->
						<!--<dt>产地：</dt>-->
						<!--<dd class="cur"><a href="">不限</a></dd>-->
						<!--<dd><a href="">韩国</a></dd>-->
						<!--<dd><a href="">中国</a></dd>-->
					<!--</dl>-->

					<!--<dl>-->
						<!--<dt>适合肤质：</dt>-->
						<!--<dd class="cur"><a href="">不限</a></dd>-->
						<!--<dd><a href="">正常肤质</a></dd>-->
						<!--<dd><a href="">敏感肤质</a></dd>-->
						<!--<dd><a href="">干性肤质</a></dd>-->
						<!--<dd><a href="">油性肤质</a></dd>-->
					<!--</dl>-->
					<!--<dl>-->
						<!--<dt>保质期：</dt>-->
						<!--<dd class="cur"><a href="">不限</a></dd>-->
						<!--<dd><a href="">半年</a></dd>-->
						<!--<dd><a href="">1年</a></dd>-->
						<!--<dd><a href="">2年</a></dd>-->
						<!--<dd><a href="">3年</a></dd>-->
					<!--</dl>-->
					<!--<dl class="last">-->
						<!--<dt>生产日期：</dt>-->
						<!--<dd class="cur"><a href="">不限</a></dd>-->
						<!--<dd><a href="">2014</a></dd>-->
						<!--<dd><a href="">2015</a></dd>-->
						<!--<dd><a href="">2016</a></dd>-->
					<!--</dl>-->
				<!--</div>-->
			<!--</div>-->
			<!-- 商品筛选 end -->

			<div style="clear:both;"></div>

			<!-- 排序 start -->
			<!--<div class="sort mt10">-->
				<!--&lt;!&ndash;<dl>&ndash;&gt;-->
					<!--&lt;!&ndash;<dt>排序：</dt>&ndash;&gt;-->
					<!--&lt;!&ndash;<dd class="cur"><a href="">销量</a></dd>&ndash;&gt;-->
					<!--&lt;!&ndash;<dd><a href="">价格</a></dd>&ndash;&gt;-->
					<!--&lt;!&ndash;<dd><a href="">评论数</a></dd>&ndash;&gt;-->
					<!--&lt;!&ndash;<dd><a href="">上架时间</a></dd>&ndash;&gt;-->
				<!--&lt;!&ndash;</dl>&ndash;&gt;-->
			<!--</div>-->
			<!-- 排序 end -->

			<div style="clear:both;"></div>

			<!-- 商品列表 start-->
			<div class="goodslist mt10">
				<ul>
					<volist name="lst_goods" id="lst_good">
						<li>
							<dl>
								<dt><a href="{:U('show',array('id'=>$lst_good['id']))}"><img src="http://admin.shop.com/Uploads/{$lst_good.logo}" alt="logo" /></a></dt>
								<dd><a href="{:U('show',array('id'=>$lst_good['id']))}">{$lst_good.name}</a></dt>
								<dd><strong>￥{$lst_good.shop_price}</strong></dt>
								<dd><a href=""><em>已有xx人评价</em></a></dt>

							</dl>
						</li>
					</volist>
				</ul>
			</div>
			<!-- 商品列表 end-->

			<!-- 分页信息 start -->
			<div class="page mt20">
				<!--<a href="">首页</a>-->
				<!--<a href="">上一页</a>-->
				<!--<a href="">1</a>-->
				<!--<a href="">2</a>-->
				<!--<a href="" class="cur">3</a>-->
				<!--<a href="">4</a>-->
				<!--<a href="">5</a>-->
				<!--<a href="">下一页</a>-->
				<!--<a href="">尾页</a>&nbsp;&nbsp;-->
				<!--<span>-->
					<!--<em>共8页&nbsp;&nbsp;到第 <input type="text" class="page_num" value="3"/> 页</em>-->
					<!--<a href="" class="skipsearch" href="javascript:;">确定</a>-->
				<!--</span>-->
				{$pageHtml}
			</div>
			<!-- 分页信息 end -->

		</div>
		<!-- 列表内容 end -->
	</div>
	<!-- 列表主体 end-->
</block>

<block name="footer"></block>
<block name="js">
	<script type="text/javascript" src="__JS__/list.js"></script>
</block>

